body{
    width: 80%;
    margin: auto;
}

#pname{
    text-align: center;

}
hr{
    height: 4px;
    background-color: green;
}

h3{
    width: 100%;
    background-color:grey;
}



table th{
    background-color: green;
    border:2px solid grey
    }
 table th,td{
     border:1px solid black

 }

 lable{
     float:left;
     width: 200px;
 }

 form{
     width: 600px;
     height: 200px;
     background-color:white;
     border-block-color: green;

 }